*.swp
**/__pycache__/**
**/.ipynb_checkpoints/**
.idea/*
llava/
_vis_cached/
_vqgan/
_vae/
_vae*/
ckpt/
log/
tb*/
img*/
local_output*
_auto_*
sd-vae-ft-mse/
stable-diffusion-v1-4/
*.pth
*.pth.tar
*.ckpt
*.log
*.txt
*.ipynb
toscli
*.hydra
wandb
*.jsonl
*.jpg
*.png
*.json
*.csv
*.tar.gz
*.bin
data/
tmp
output
*.tsv
*.mp4
output/*
results/
*.JPEG
debug/
weights
checkpoints
ref.py
wandb
.DS_Store